
.event{
    padding: 5% 10% 0 10%;
}


.event h1{
    font-size: 64px !important;
    padding: 50px 0px 50px;
    text-transform: uppercase;
    font-family: 'Noto Sans';
    color: #282828;
}

.eventBox{
    background-image: linear-gradient(#1f3E99, #6c3d91 ,#e7247d);
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 8%;
}
.eventImage{
    width:100%;
}

.registerBtn{
    height: 50px;
    line-height: 100px;
    padding: 20px 37px;
    font-size: 24px;
    font-weight: 700;
    margin: 40px;
    color: #ffffff;
    background-color: #6c3d91;
    border:none;
    border-radius: 3px;
    font-family: 'Montserrat';
}
.registerBtn:hover{
    color: #6c3d91;
    background-color: #ffffff;
    transition: 0.5s;
    text-decoration: none;
    cursor:pointer;
}

/* For Small screen */
@media only screen and (min-width: 300px) and (max-width: 500px){
    .event h1{
        font-size: 40px !important;
        padding: 50px 0px 50px;
    }
    .registerBtn{
        font-size: 16px;
        font-weight:700;
        margin: 10px;
    }
}