.scholarshipTopTitle{
    font-size: 56px;
    background-color:#002366;
    color: white;
    text-transform: capitalize;
    font-family: "Noto Sans";
    padding: 30px 20px;
}

.scholarship-description{
    padding: 20px 120px;
    font-family: "Noto Sans";
    font-size: 18px;
    color: #333333;
    line-height: 30px;
    text-align: justify;
}

.scholarship-countryName{
    font-weight: 700;
    font-size: 26px;
}

.scholarship-deadline{
    color: #fa2b07;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
}

.scholarship-description-miniTitle{
    font-size: 26px;
    font-weight: 700;
    margin: 40px 0 20px;
    color: #7500e9;
}

.application-process{
    color: white !important;
    background-image: linear-gradient(#1f3E99, #6c3d91 ,#e7247d);
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 8%;
}

.application-process-Title{
    font-size: 26px;
    font-weight: 700;
    color: white;
}

.btn-div{
    margin-top: 30px;
}
.applyNowBtn{
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background-color: #002366;
}
.applyNowBtn:hover{
    background-color: #2d5bb1;
    transition: 0.5s;  
}

.applyNowBtnLink{
    color: white;
    font-weight: 500;
}
.applyNowBtnLink:hover{
    color: white;
}


.visit-Official-web-Btn{
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    background-color:#2d5bb1;
}
.visit-Official-web-Btn:hover{
    background-color: #002366;
    transition: 0.5s;  
}
 


/* =====================================for small or Mobile Screen======================================*/

@media only screen and (min-width: 300px) and (max-width: 500px){
    .scholarshipIntroTitle{
        font-size: 35px !important;
        padding: 50px 0;
    }
    .scholarshipTopTitle{
        padding: 30px 10px;
        font-size: 26px;
    }
    .scholarship-image{
        width: 100%;
    }
    .scholarship-description{
        padding: 30px 10px;
    }
    .scholarship-deadline{
        font-size:18px;
    }
    .scholarship-description-miniTitle{
        font-size: 20px;
    }
    p{
        font-size: 17px;
    }
    h5{
        font-size: 17px;
    }
    li{
        font-size: 17px;
    }
    .applyNowBtn{
        padding: 8px 10px;
        font-size: 16px;
        line-height: normal;
    }
    .visit-Official-web-Btn{
        padding: 8px 5px;
        font-size: 16px;
        line-height: normal;
    }
}