.studentTitleBg{
    background-image: url(../../resource/image/students-banner.png);
    text-align: center;
    background-position: 50% 0;
    background-size: cover;
    padding: 80px 0;
    position: relative;
}

.title h1{
    padding: 80px 0;
    font-size: 80px !important;
    font-weight: 800;
    font-family: 'Noto Sans';
    text-transform: uppercase;
    color:white;
    letter-spacing: 3px;
}
