
.footer{
    background-color: #282828;
    color: #99a9b5;
    padding: 40px 0;
}
p{
    padding:0;
    margin:0;
}

.developer{
    color: #606162;
}
.developerInfo{
    color: #606162;
    font-weight: 700;
}
.developerInfo:hover{
    text-decoration: underline;
    color: #606162;
}