.mission-section{
    padding: 60px;
}

.mission-title{
    text-transform: uppercase;
    font-size: 64px;
    margin-bottom: 2%;
    font-family: 'Noto Sans', sans-serif;
}
.mission-para{
    color: #4c5c67;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;;
}
.mission-img-section{
    padding:0;
}
.missionPic{
    width:100%;
    padding-left:0;
}

.mission-left-text{
    display: block !important;
    color: white;
    opacity: 100%;
    font-size: 50px;
    top: 30%;
    left: 28%;
    max-width: 100%;
    position: absolute;
    white-space: normal;
    width: 75%;
    z-index: 9999;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
}

.studentText{
    letter-spacing: 2px;
    font-size: 65px;
}
.lernMoreBtn{
    font-size: 19px;
    color:#E7247D;
    padding: 10px 20px;
    border:none;
    border-radius: 3px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left:40% !important;
    margin-top: 30px;
}
.lernMoreBtn:hover{
    color:#ffffff;
    background-color: rgb(108, 61, 145);
    transition: 0.5s;
}



.mission-right-text{
    display: block !important;
    color: white;
    opacity: 100%;
    font-size: 50px;
    top: 30%;
    left: 0;
    right: 70% !important;
    max-width: 100%;
    position: absolute;
    white-space: normal;
    width: 75%;
    z-index: 9999;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
}

.helpText{
    letter-spacing: 2px;
    font-size: 65px;
}
.gInvolvedBtn{
    font-size: 19px;
    color:#E7247D;
    padding: 10px 20px;
    border:none;
    border-radius: 3px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: re;
    left:40% !important;
    margin-top: 30px;
}
.gInvolvedBtn:hover{
    color:#ffffff;
    background-color: rgb(108, 61, 145);
    transition: 0.5s;
}


@media only screen and (min-width: 300px) and (max-width: 500px){
    
    .misstion-img{
        margin: 0 !important;
    }
    .mission-title{
        font-size: 28px;
        font-weight: 700;
    }
    .mission-section{
        padding: 60px 20px;
    }
    .mission-left-text{
        position: absolute;
        top: 25%;
        left: 25%;
        right: 0 !important;
    }
    .mission-left-text h1{
        font-size: 32px;
    }
    .studentText{
        letter-spacing: 2px;
        font-size: 40px;
        font-weight: 700;
    }
    .lernMoreBtn{
        letter-spacing: 2px;
        font-size: 65px;
    }
    .lernMoreBtn{
        font-size: 15px;
        color:#E7247D;
        position: absolute;
        left: 18% !important;
        margin-top: 10px !important;
    }
    .mission-right-text{
        position: absolute;
        left: 5%;
        top: 20%;
    }
    .helpText{
        letter-spacing: 2px;
        font-size: 42px;
        font-weight: 700;
    }
    .lookingTo{
        font-size: 32px;
    }
    .gInvolvedBtn{
        position: absolute;
        left:15% !important;
        margin-top: 10px;
        font-size: 15px;
        font-weight: 700;
    }
}